## Flag for GoDaddy
##Options +MultiViews

##RewriteEngine On

## Remove .php extensions
##RewriteCond %{REQUEST_FILENAME} !-f
##RewriteRule ^([^\.]+)$ $1.php [NC,L]

## Remove .html extensions
##RewriteCond %{REQUEST_FILENAME}.html -f
##RewriteRule ^ %{REQUEST_URI}.html [NC,L]

## Redirect from .html extensions to non extensions
##RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
##RewriteRule ^ /%1 [NC,L,R]
